# Database
MONGODB_URI=

# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Public API & App Config
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TOUR_COMPLETE_KEY=stockscope_tour_completed

# Midtrans Payment Gateway
MIDTRANS_SERVER_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=

# AI Integration
ANTHROPIC_API_KEY=

# Development Overrides
PREMIUM_DEV_OVERRIDE=false
